@model StudentManagementMVC.Models.Student

<h1>Edit Student</h1>
<form method="post" action="/Student/Edit">
    <input type="hidden" name="Id" value="@Model.Id" />
    <div class="form-group">
        <label for="Name">Name</label>
        <input type="text" id="Name" name="Name" value="@Model.Name" class="form-control" required />
    </div>
    <div class="form-group">
        <label for="Marks">Marks</label>
        <input type="number" id="Marks" name="Marks" value="@Model.Marks" class="form-control" required />
    </div>
    <button type="submit" class="btn btn-primary">Update</button>
</form>
